@import '../../vars';

$sidebar--width: (
    phone: 100vw,
    tablet: 50vw,
    desktop: 35vw,
    widescreen: 30vw,
);

.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 1001;
    transform: translateX(-100%);
    transition: transform 0.5s;

    @each $breakpoint, $width in $sidebar--width {
        @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
            width: $width;
        }
    }

    &.sidebar--open {
        transform: translateX(0);

        .sidebar__toggle {
            border-radius: 4px 0 0 4px;

            @each $breakpoint, $width in $sidebar--width {
                @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
                    transform: translateY(-50%) translateX(calc(#{$width} - 100%));
                }
            }

            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__toggle {
        position: absolute;
        top: 50%;
        border-radius: 0 4px 4px 0;
        z-index: 1001;
        transition: border-radius 0.5s, transform 0.5s;

        @each $breakpoint, $width in $sidebar--width {
            @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
                transform: translateY(-50%) translateX($width);
            }
        }

        &--hidden {
            @each $breakpoint, $width in $sidebar--width {
                @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
                    transform: translateY(-50%) translateX(calc(#{$width} - 4rem));
                }
            }
        }

        svg {
            transform: rotate(0);
            transition: transform 0.5s;
        }
    }

    .container {
        flex-grow: 0;
    }

    .menu {
        &-list {
            a {
                display: flex;
                align-items: center;
                padding: 1em 1.5em;

                .menu-list-item-icon {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 3rem;
                    margin-right: 1rem;
                }
            }
        }
    }

    .dropdown {
        &__language {
            &.is-active {
                .icon {
                    transform: rotate(0);
                }
            }

            .icon {
                transform: rotate(180deg);
                transition: transform 0.3s;
            }
        }
    }
}
