@import "../../vars";

$sidebar--width: (
    phone   : 100vw,
    tablet  : 50vw,
    desktop : 30vw,
);

.sidebar {
    position: absolute;
    width: map-get($sidebar--width, phone);
    height: 100vh;
    z-index: 1001;
    transform: translateX(-100%);
    transition: transform 0.5s;

    @media only screen and (min-width: map-get($breakpoints, tablet)) {
        width: map-get($sidebar--width, tablet);
    }

    @media only screen and (min-width: map-get($breakpoints, desktop)) {
        width: map-get($sidebar--width, desktop);
    }

    &.sidebar--open {
        transform: translateX(0);

        .sidebar__toggle {
            border-radius: 4px 0 0 4px;
            transform: translateY(-50%) translateX(calc(#{map-get($sidebar--width, phone)} - 100%));

            @media only screen and (min-width: map-get($breakpoints, tablet)) {
                transform: translateY(-50%) translateX(calc(#{map-get($sidebar--width, tablet)} - 100%));
            }

            @media only screen and (min-width: map-get($breakpoints, desktop)) {
                transform: translateY(-50%) translateX(calc(#{map-get($sidebar--width, desktop)} - 100%));
            }

            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__toggle {
        position: absolute;
        top: 50%;
        border-radius: 0 4px 4px 0;
        z-index: 1001;
        transform: translateY(-50%) translateX(map-get($sidebar--width, phone));
        transition: border-radius 0.5s, transform 0.5s;

        @media only screen and (min-width: map-get($breakpoints, tablet)) {
            transform: translateY(-50%) translateX(map-get($sidebar--width, tablet));
        }

        @media only screen and (min-width: map-get($breakpoints, desktop)) {
            transform: translateY(-50%) translateX(map-get($sidebar--width, desktop));
        }

        &--hidden {
            transform: translateY(-50%) translateX(85vw);

            @media only screen and (min-width: map-get($breakpoints, tablet)) {
                transform: translateY(-50%) translateX(40vw);
            }

            @media only screen and (min-width: map-get($breakpoints, desktop)) {
                transform: translateY(-50%) translateX(25vw);
            }
        }

        svg {
            transform: rotate(0);
            transition: transform 0.5s;
        }
    }

    .logo {
        padding: 1rem;
    }

    .menu {
        &-list {
            a {
                display: flex;
                align-items: center;
                padding: 1em 1.5em;

                .menu-list-item-icon {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 3rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}
